@charset "UTF-8";

/* common
------------------------------*/

body {
  margin: auto;
  background: #fff;
  font-family: "Noto Sans Japanese", Hiragino Sans, "ヒラギノ角ゴシック",
    Hiragino Kaku Gothic ProN, "ヒラギノ角ゴ ProN W3", Meryo, "メイリオ",
    "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
  font-size: 16px;
  color: #808080;
  line-height: 1.5;
  word-wrap: break-word;
}

ul {
  list-style: none;
  padding-left: 0;
}
dd {
  margin-left: 0;
}
dd.dd-dot {
  margin-left: 10px;
}
dd.dd-dot::before {
  content: "・";
}
li p {
  text-align: left;
}
img {
  width: 100%;
  vertical-align: top;
  border: none;
}

/* font
------------------------------*/

h1 {
  margin: 0;
}

h1.l-card__heading,
h2.l-i-merit__sectionHeading,
h2.l-casestudies__sectionHeading {
  border-bottom: #315b96 2px solid;
  text-align: center;
  color: #fff;
  background: rgb(206, 218, 235);
  background: linear-gradient(
    0deg,
    rgba(206, 218, 235, 1) 0%,
    rgba(49, 91, 150, 1) 73%
  );
}

h2 {
  font-size: 18px;
}
h3 {
  margin: 0;
  font-size: 18px;
  color: #000;
}

.l-card__lead {
  text-align: center;
}

/* l-card__button--contact
------------------------------*/
.l-card__button--contact {
  text-decoration: none;
  color: #fff;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
  text-shadow: 2px 2px 8px #786540;
  -moz-text-shadow: 2px 2px 8px #786540;
  -webkit-text-shadow: 2px 2px 8px #786540;
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2),
    0 2px 2px rgba(0, 0, 0, 0.19);
  background: #f08200;
  background: -moz-linear-gradient(#eda537 0%, #f08200 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#eda537),
    to(#f08200)
  );
  background: -webkit-linear-gradient(#eda537 0%, #f08200 100%);
  background: linear-gradient(#eda537 0%, #f08200 100%);
}

.l-card__button--contact a {
  display: inline-block;
  border: solid 1px #bacc2b;
  width: 100%;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}

.l-card__subSection .l-card__lead,
.l-card__subSection .l-card__link {
  text-align: center;
}

/* l-header
------------------------------*/

.l-header h1.l-header__heading,
.l-header .l-header__logo {
  margin: 0;
  font-size: 0;
}

.l-header .l-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2%;
}
.l-header .l-header__logo {
  margin-left: auto;
}

/* l-card__header--ejoica
------------------------------*/
h1.l-card__heading {
  font-size: 14px;
}

/* l-card__section
------------------------------*/

.l-card__section .l-card__img {
  max-width: 1020px;
  margin: 0 auto;
}

.l-card__section .l-card__img.subvisual {
  width: 86%;
  margin-bottom: 90px;
}

.l-card__section .l-card__img.exchanged_money {
  width: 92%;
}

/* l-i-merit__section
------------------------------*/
.l-i-merit__section .l-i-merit__img {
  margin: 0 auto;
  max-width: 319px;
}

/* l-casestudies__section
------------------------------*/

.l-casestudies__section dt.l-casestudies__title {
  color: #404040;
  border-left: solid 6px #94c328;
  border-bottom: solid 2px #dadada;
  background: #fdfafa;
  margin-bottom: 15px;
  line-height: 1.5;
  padding: 0.5em;
  list-style-type: none !important;
  font-weight: bold;
}

/* l-footer
------------------------------*/

.l-footer__partner .l-footer__container,
.l-footer__bottom .l-footer__container {
  font-size: 12px;
  background: #737373;
  color: #fff;
}

.l-footer__partner .l-footer__container ul {
  margin: 0 auto;
  padding: 0;
}
.l-footer__bottom .l-footer__container {
  text-align: center;
  background: #2d333c;
}
.l-footer__bottom .footer__copyright {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
}

/* PC only
------------------------------*/

@media screen and (min-width: 768px) {
  /* pc layout
------------------------------*/
  .l-main section {
    margin-bottom: 40px;
    box-sizing: border-box;
  }
  section {
    min-width: 1020px;
    margin: 0 auto;
  }

  h1.l-card__heading,
  h2.l-card__sectionHeading,
  h2.l-casestudies__sectionHeading {
    min-width: 1020px;
  }

  h2.l-i-merit__sectionHeading,
  h2.l-casestudies__sectionHeading {
    margin: 0 0 55px;
    padding: 0.5%;
    font-size: 38px;
  }

  h3 {
    font-size: 27px;
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: 10px;
  }

  .sp-hidden {
    display: block !important;
  }
  .pc-hidden {
    display: none !important;
  }

  .pc-box-flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  /* pc l-header
------------------------------*/

  .l-header .l-header__inner {
    min-width: 1020px;
  }

  .l-header h1.l-header__heading {
    width: 241px;
  }
  .l-header .l-header__logo {
    width: 163px;
    margin-left: auto;
  }

  /* pc l-card__header--ejoica
------------------------------*/
  .l-card__header--ejoica .l-card__container {
    min-width: 1020px;
  }

  .l-card__header--ejoica h1.l-card__heading {
    font-size: 38px;
    padding: 10px 0;
  }
  .l-card__header--ejoica .l-card__img {
    margin: 0 auto;
    width: 70px;
  }

  /* pc l-card__button--contact
------------------------------*/

  .l-card__subSection .l-card__button--contact {
    margin: 0 auto 20px;
    width: 573px;
    border-radius: 21px;
    border: solid 5px #fff;
  }

  .l-card__subSection .l-card__button--contact a {
    border-radius: 15px;
    line-height: 216%;
    font-size: 37px;
  }
  .l-card__subSection .l-card__lead {
    text-align: center;
  }
  .l-card__subSection .l-card__lead p {
    font-size: 18px;
  }
  .l-card__subSection .l-card__link {
    font-size: 16px;
  }

  /* pc l-card__section
------------------------------*/

  .l-card__section .l-card__img {
    max-width: 1020px;
    margin: 0 auto;
  }

  .l-card__section .l-card__img.subvisual {
    /*width: 783px;*/
    margin-bottom: 90px;
  }

  .l-card__section .l-card__img.exchanged_money {
    width: 92%;
  }

  /* pc l-i-merit__section
------------------------------*/

  .l-i-merit__section .l-i-merit__container {
    min-width: 1020px;
  }

  .l-i-merit__section .l-i-merit__list {
    width: 90%;
    margin: 0 auto;
  }

  .l-i-merit__section li {
    width: 100%;
    margin: 0 1.5%;
  }

  /* pc l-casestudies__section
------------------------------*/

  .l-casestudies__section .l-casestudies__list {
    width: 90%;
    margin: 0 auto 5%;
  }
  .l-casestudies__section li {
    margin-bottom: 50px;
  }

  .l-casestudies__section li:nth-last-of-type(1) {
    margin-bottom: 0;
    margin-right: 0;
  }

  .l-casestudies__section .l-casestudies__img {
    width: auto;
    height: auto;
    max-width: 264px;
    box-sizing: border-box;
  }

  .l-casestudies__section .l-casestudies__about-company {
    margin-top: 0;
    margin-left: 5%;
    width: 70%;
  }

  .l-casestudies__section .l-casestudies__about-company dt {
    margin-top: 3%;
  }
  .l-casestudies__section .l-casestudies__about-company dt:nth-of-type(1) {
    margin-top: 0%;
  }

  .l-casestudies__section h3.l-casestudies__name {
    margin-top: 0;
  }

  /* pc l-footer
------------------------------*/

  .l-footer__partner .l-footer__container {
    min-width: 1020px;
    margin: auto;
    padding: 40px 0;
  }
  .l-footer__partner ul {
    width: 80%;
  }

  .l-footer__bottom .l-footer__container {
    padding: 44px 0;
    text-align: center;
    line-height: 1;
  }

  .l-footer__bottom .footer__copyright {
    display: block;
  }
}

/* sp only
------------------------------*/

@media screen and (max-width: 767px) {
  .l-main section {
    max-width: 767px;
    min-width: 320px;
    margin: 0 auto 5%;
  }

  .sp-hidden {
    display: none !important;
  }
  .pc-hidden {
    display: block !important;
  }

  h2 {
    margin: 0 0 8%;
    padding: 1%;
    font-size: calc(18px + ((1vw - 3.2px) * 2.857));
  }

  h3 {
    font-size: calc(18px + ((1vw - 3.2px) * 1.285));
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 0;
  }

  /* sp l-header
------------------------------*/
  .l-header .l-header__inner {
    max-width: 767px;
    min-width: 320px;
  }

  .l-header h1.l-header__heading {
    width: 220px;
  }
  .l-header .l-header__logo {
    width: 163px;
  }

  /* sp l-card__header--ejoica
------------------------------*/
  section.l-card__header--ejoica {
    margin-bottom: 2%;
  }

  .l-card__header--ejoica .l-card__container {
    max-width: 767px;
    min-width: 320px;
  }

  .l-card__header--ejoica h1.l-card__heading {
    font-size: calc(14px + ((1vw - 3.2px) * 3.174));
    padding: 1.5%;
  }
  .l-card__header--ejoica .l-card__img {
    margin: 0 auto;
    width: 8%;
    max-width: 70px;
  }

  /* sp l-card__button--contact
------------------------------*/

  .l-card__subSection .l-card__button--contact {
    margin: 0 auto 3%;
    width: 92%;
    border-radius: 11px;
    border: solid 4px #fff;
  }

  .l-card__subSection .l-card__button--contact a {
    border-radius: 8px;
    padding: 2.9%;
    font-size: calc(15px + ((1vw - 3.2px) * 3.14));
  }

  .l-card__subSection .l-card__lead p {
    font-size: 14px;
  }
  .l-card__subSection .l-card__link {
    font-size: 12px;
  }

  /* pc l-card__section
------------------------------*/

  .l-card__section .l-card__img.subvisual {
    width: 92%;
    margin-bottom: 10%;
  }

  .l-card__section .l-card__img.exchanged_money {
    width: 92%;
  }

  /* sp l-i-merit__section
------------------------------*/

  .l-i-merit__section .l-i-merit__list {
    margin: 0 auto;
    width: 85%;
  }
  .l-i-merit__section li {
    margin-bottom: 10%;
  }
  .l-i-merit__section li:nth-last-of-type(1) {
    margin-bottom: 0;
  }
  .l-i-merit__section .l-i-merit__img {
    padding-bottom: 5%;
    width: 66%;
  }
  .l-i-merit__section .l-i-merit__lead {
    margin-top: 0;
    font-size: 14px;
  }

  /* sp l-casestudies__section
------------------------------*/

  .l-casestudies__section ul {
    width: 85%;
    margin: 0 auto;
  }
  .l-casestudies__section li {
    width: 100%;
    margin-bottom: 10%;
    margin-right: 3%;
  }

  .l-casestudies__section li:nth-last-of-type(1) {
    margin-bottom: 20%;
  }
  .l-casestudies__section .l-casestudies__img {
    text-align: center;
  }
  .l-casestudies__section .img-itoen,
  .l-casestudies__section .img-jppost {
    margin: 0 auto 5%;
    width: 42%;
  }

  .l-casestudies__section .img-itoen img,
  .l-casestudies__section .img-jppost img {
    max-width: 264px;
  }
  .l-casestudies__section .img-zexy {
    /* height: 243px; */
    margin: 0 auto 5%;
    width: 20.7%;
  }
  .l-casestudies__section .img-zexy img {
    max-width: 129px;
  }
  .l-casestudies__section img {
    /* width: auto; */
  }
  .l-casestudies__section dt {
    margin-top: 3%;
  }

  .l-casestudies__section {
    margin-top: 5px;
  }

  .l-casestudies__section dd {
    font-size: 14px;
  }

  /* sp l-footer
------------------------------*/

  .l-footer .l-footer__partner .l-footer__container {
    width: auto;
    min-width: 320px;
    padding: 7% 5%;
  }
  .l-footer .l-footer__partner ul {
    text-align: left;
  }
  .l-footer .l-footer__bottom .l-footer__container {
    padding: 40px 0;
    min-width: 320px;
  }
}

@media screen and (max-width: 500px) {
  /* l-header
------------------------------*/
  .l-header h1.l-header__heading {
    width: 51.4%;
  }
  .l-header .l-header__logo {
    width: 38.2%;
  }
}

@media screen and (max-width: 320px) {
  .l-i-merit__section h2.l-i-merit__sectionHeading,
  .l-casestudies__section h2.l-casestudies__sectionHeading,
  .l-casestudies__section .l-casestudies__name h3 {
    font-size: 18px;
  }
  .l-card__header--ejoica h1.l-card__heading {
    font-size: 14px;
  }

  .l-card__subSection .l-card__button--contact a {
    font-size: 15px;
  }
}

.marker-yellow {
background: linear-gradient(transparent 60%, #ffff00 0%);
font-weight: bold;
}
